<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>协议测试</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
	<script src="/static/jquery/jquery-2.1.4.min.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script>
		$.ajaxSetup({
			data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		  });
	</script>
</head>
<style type="text/css">
    .mypanel .panel-heading{}
    .mypanel{position: relative;display: none;}
    .opr-btn{position: absolute;right: 200px;}
    .navbar-btn{margin-top:2px;margin-bottom:8px;}
    .dropdown li,.dropdown a{
        cursor:pointer;
    }
</style>
<body>

<div class="row">
    <div id="panel-box" style="">
        <div class="panel panel-default mypanel" style="margin:10px 30px;">
    	<div class="panel-heading" style="background: #fff">
    			<span class="btn btn-xs glyphicon glyphicon-plus" onclick="$(this).toggleClass('glyphicon-plus glyphicon-minus').parent().next().toggleClass('hide show');saveTreeState(this)"></span><span contenteditable='true' onfocusin="savaHistory(this)" onfocusout="saveTitle(this)">标题</span>
                <div class="dropdown pull-right" style="display: inline-block;margin-top:-5px">
                    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" onclick="btn_delete_item(this)">
                            <a role="menuitem" tabindex="-1" href="#">删除项目</a>
                        </li>
                    </ul>
                </div>
    	</div>
    	<div class="panel-body" style="padding-top:1px;">
    		<nav class="navbar navbar-default" >
    			<div class="container-fluid" style="padding-left:0px;padding-bottom:0px;">
    		        <div class="navbar-form navbar-left" style="padding-left: 0px;">

    					<ul class="nav navbar-nav">
    						<li class="dropdown" style="width:82px;"><a href="#" class="dropdown-toggle" data-toggle="dropdown" ><span class="rec_option">GET</span> <b class="caret"></b></a>
    							<ul class="dropdown-menu selectBox">
    								<li><a id="action-get" href="#">GET</a></li>
    								<li class="divider"></li>
    								<li><a id="action-post" href="#">POST</a></li>
    							</ul>
    						</li>
    					</ul>

    		            <div class="form-group">
    		                <input type="text" id="inputurl" class="inputurl" placeholder="Enter request URL" style="width: 626px;margin-top:11px;">
                            <input type="text" id="itemId" class="itemId"  style="margin: 0px 0px 0px 0px; width: 0px; height: 0px; visibility:hidden; ">
                            <input type="text" id="folderId" class="folderId" style="margin: 0px 0px 0px 0px; width: 0px; height: 0px; visibility:hidden; ">
                            <input type="text" id="collectionId" class ="collectionId" style="margin: 0px 0px 0px 0px; width: 0px; height: 0px; visibility:hidden; ">
    		                <button type="button" id="send_btn" class="btn btn-default" onclick="btn_send(this)" style="margin-top:0px;">Send</button>

                            <button type="button" id="save_btn" class="btn btn-default" onclick="btn_save_change_item(this)" style="margin-top:0px;">保存</button>
    		             </div>

    		        </div>
    			</div>
    			<div id="collapseFour" class="panel-collapse collapse">
    				<div class="panel-body" style="padding-top:0px;padding-left:0px; padding-bottom:0px">
    					<textarea rows="10" cols="150" id="rawModeData" class="rawModeData" style="margin: 0px 0px 0px; width: 913px; height: 100px;"></textarea>
    				</div>
    			</div>
    		</nav>
    		Response
    		<nav class="navbar navbar-default">
    			<div class="container-fluid" style="padding-left: 0px;">
    			    <textarea rows="10" cols="150" id="myResponse" class="myResponse" style="margin: 0px 0px 0px; width: 913px; height: 100px;"></textarea>
    			</div>
    		</nav>
    	</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var Dict = {{ Dict|safe }};
    function BuildLogicTree(dict, folder_dict, tree) {
        var folders = dict['folders']; // folders只针对最外层
        var collectionId = dict["id"];
        var owner = dict["owner"];

        tree["collectionId"] = collectionId;
        tree["name"] = folder_dict["name"];
        tree["expand"] = folder_dict["expand"];
        if(!folder_dict["expand"])
            tree["expand"] = "0";

        tree["owner"] = owner;
        tree["folderId"] = folder_dict["id"]
        tree["order"] = folder_dict["order"];
        tree["folders"] = [];
        tree["item"] = [];
        for(var i = 0; i < folder_dict["folders_order"].length; i++) {
            for(var j = 0; j < folders.length; j++) {
                if(folder_dict["folders_order"][i] == folders[j].id) {
                    tree["folders"].push({});
                    var folder_len = tree["folders"].length;
                    BuildLogicTree(dict, folders[j], tree["folders"][folder_len-1]);
                }
            }
        }
    }

    function show(ele){
        if(ele.parent().parent().prev().prev().hasClass('glyphicon-plus')){
            ele.parent().parent().prev().prev().trigger('click');
        }
    }

    function BuildLogicItem(dict, folder) {
        folder["item"] = [];
        // console.log("BuildLogicItem: tree: ", folder);
        var request_list = dict['requests'];
        for(var i = 0; i < folder["order"].length; i++) {
            for(var j = 0; j < request_list.length; j++) {
                if(folder["order"][i] == request_list[j].id) {
                     folder["item"].push(request_list[j]);
                }
            }
        }
        for(var i = 0; i < folder["folders"].length; i++) {
            BuildLogicItem(dict, folder["folders"][i]);
        }
    }

	(function(){
	    /*初加载*/
	    var tree_data = {};
        BuildLogicTree(Dict, Dict, tree_data); // 建立节点
        BuildLogicItem(Dict, tree_data);       // 建立叶子
        console.log("tree_data: ", tree_data);
        BuildHtmlTree(tree_data, $('#panel-box'))
	})();

    function BuildHtmlTree(tree,ele){
        let $div = add_new_folder(ele,tree)
        if(tree.item){
            for(var j=0;j<tree.item.length;j++){
                var name = tree.item[j].name;
                var url = tree.item[j].url;
                var method = tree.item[j].method;
                var data = tree.item[j].rawModeData;
                var id = tree.item[j].id;
                BuildHtmlItem($div, null, tree.item[j])
            }
        }
        if(tree.folders){
            for(var m=0;m<tree.folders.length;m++){
                BuildHtmlTree(tree.folders[m],$div)
            }
        }
        console.log($div)
        let $childrenDiv = $div.children("div:first-child")
        console.log($childrenDiv)
        if(tree.expand=="0"){
            $childrenDiv.nextAll('div').addClass('hide')
        }else{
            $childrenDiv.nextAll('div').addClass('show')
        }
    }

    function BuildHtmlItem(container, box, item){
       var $panel_clone = $('#panel-box>:first').clone(true);

        console.log("item: ", item);

        if(item != null) {
            $panel_clone.children('.panel-heading').children().eq(1).text(item.name)
            $panel_clone.find('.rec_option').text(item.method);
            $panel_clone.find('#itemId').val(item.id);
            $panel_clone.find('#folderId').val(item.folder);
            $panel_clone.find('#collectionId').val(item.collectionId);
            $panel_clone.find('#inputurl').val(item.url);
            if(item.method=='POST'){
                $panel_clone.find(".collapse").addClass('show').removeClass('hide').find('#rawModeData').val(item.rawModeData);
            }else{
                $panel_clone.find(".collapse").addClass('hide').removeClass('show')
            }
        }
        

        $panel_clone.find('#inputurl').next().unbind('click');
        $panel_clone.find('#send_btn').attr('onclick',"fun_send(this)").text('发送')
		if(box){
			box.after($panel_clone);
		}
		else{
        	container.append($panel_clone);
		}
        if(item.expand=='0'){
            console.log('shousuo',item.expand)
            // $panel_clone.children('.panel-heading').children().eq(0).addClass('glyphicon-plus').removeClass('glyphicon-minus');
            $panel_clone.children('.panel-body').removeClass('show').addClass('hide');
        }else{
            console.log('zhankai',item.expand)
            $panel_clone.children('.panel-heading').children().eq(0).removeClass('glyphicon-plus').addClass('glyphicon-minus');
            $panel_clone.children('.panel-body').removeClass('hide').addClass('show');
        }
        container.append($panel_clone);
        // rawModeDataCtl.height(rawModeDataCtl[0].scrollHeight);
    }

    function ShowTip(tip,ele, type) {
        var $tip = $('#tip');
        if ($tip.length == 0) {
            $tip = $('<strong id="tip" style="position:absolute;top:50px;left: 50%;z-index:9999"></strong>');
            $('body').append($tip);
        }
        $tip.stop(true).prop('class', 'alert alert-' + type).text(tip).css({'left': $(ele).offset().left+$(ele).width(),'top':$(ele).offset().top-$(ele).height()*3}).fadeIn(500).delay(2000).fadeOut(500);
    }

    function ShowMsg(msg,ele) {
        ShowTip(msg,ele, 'info');
    }


    let fun_send = btn_send;
	// 发送get或post数据，传入底层统一用get
	function btn_send(dom) {
		var $this = $(dom);
        console.log($this.text())
		var $p5 = $this.parent().parent().parent().parent().parent();
       
		var method = $p5.find(".rec_option").text();
		var url = $p5.find(".inputurl").val();
		var id = $p5.find(".itemId").val();
		console.log("btn_send: id: ", id);
		var rawModeData = $p5.find(".rawModeData").val();
		var responsedata = $p5.find(".myResponse");
        responsedata.val("");
        responsedata.height(responsedata[0].scrollHeight);
        setTimeout(function(){
    		$.post('/send/', {'id': id, 'url': url, 'method':method, 'rawModeData':rawModeData}, function(res){
    			responsedata.val(res);
    			responsedata.height(responsedata[0].scrollHeight);
    		});  
        },200);
	}

 function add_new_folder(ele,tree){
        var dropdown = `<div class="dropdown pull-right" style="display: inline-block;">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" onclick="show($(this));add_new_folder($(this).parent().parent().parent().parent())" tabindex="-1" href="#">
                                <a role="menuitem">添加子文件夹</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" onclick="show($(this));add_new_item($(this).parent().parent().parent().parent())">
                                <a role="menuitem" tabindex="-1" href="#">添加子项目</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" onclick="btn_delete_folder(this)">
                                <a role="menuitem" tabindex="-1" href="#">删除文件夹</a>
                            </li>
                        </ul>
                    </div>`
        console.log("add folder...");
        var ownerId = ele.find("[data-ownerId]").attr("data-ownerId");
        var collectionId = ele.find("[data-collectionId]").attr('data-collectionId');
        var parent_folderId = ele.find("[data-folderId]").attr('data-folderId');

        if(!collectionId) 
            collectionId = tree.collectionId;
        if(!parent_folderId)
            parent_folderId = collectionId;
        if(!ownerId)
            ownerId = tree.ownerId;

        var $div = $('<div></div>');
        $div.attr('style','margin:5px 30px')
        $div.attr('class','panel panel-default')
        ele.append($div)
        var $childrenDiv = $('<div></div>');
        $childrenDiv.attr('class','panel-heading')
        $childrenDiv.attr('style','margin:0');

        var $btn = $('<span></span>');

        if(tree){
            $btn.attr('data-ownerId', tree.owner);
            $btn.attr('data-folderId', tree.folderId);
            $btn.attr('data-collectionId', tree.collectionId);
            if(tree.expand=="0"){
                console.log('folder shousuo',tree.expand)
                $btn.attr('class','btn glyphicon glyphicon-plus')
            }else{
                console.log('folder zhankai',tree.expand)
                $btn.attr('class','btn glyphicon glyphicon-minus')
            }
        }
        else{
            $btn.attr('data-ownerId', ownerId);
            $btn.attr('data-collectionId', collectionId );
            $btn.attr('class','btn glyphicon glyphicon-plus')
        }

        $btn.attr('onclick','$(this).toggleClass("glyphicon-plus glyphicon-minus").parent().nextAll("div").toggleClass("hide show");saveTreeState(this)');

        // var folderId = $btn.attr('data-folderId');
        // console.log("folder: ", folderId);

        $childrenDiv.append($btn)
        var $span = $('<span></span>');
        $span.attr('contenteditable',true);
        $span.attr('onfocusout','saveTitle(this)');
        $span.attr('onfocusin','savaHistory(this)');
        if(tree){
            $span.text(tree.name);
        }else{
            $span.text('自定义');
        }

        $childrenDiv.append($span);
        $childrenDiv.append(dropdown);
        console.log('collectionId: ',collectionId)
        console.log('parent_folderId: ',parent_folderId)
        if(tree && tree.collectionId == tree.folderId) {
            $childrenDiv.find('li').eq(3).remove();
            $childrenDiv.find('li').eq(3).remove();
        }

        $div.append($childrenDiv);
        if(!tree){
            $div.addClass('show')
        }
        ele.append($div)
        if(!tree){
            var jsons = {};
            jsons["name"] = $span.text();
            jsons["owner"] = ownerId;
            jsons["parent_folderId"] = parent_folderId;
            jsons["folderId"] = "";
            jsons["collectionId"] = collectionId;

            console.log("jsons: ", JSON.stringify(jsons));

            $.post('/save_new_folder/', {'jsons': JSON.stringify(jsons)}, function(res){
                // responsedata.val(res);
                // toastr.success("ok");
                // ShowMsg(res,dom);
                $btn.attr('data-folderId', res);
            });
        }
        return $div;
    }

    
    function add_new_item(container, box){
       var $panel_clone = $('#panel-box>:first').clone(true);
        $panel_clone.show();

        var collectionId = container.find("[data-collectionId]").attr('data-collectionId');
        var folderId = container.find("[data-folderId]").attr('data-folderId');
        var method = $panel_clone.find(".rec_option").text();
        var name = $panel_clone.find('.panel-heading').children('[contenteditable]').text();
        $panel_clone.addClass('show')
        $panel_clone.find('.panel-body').addClass('hide')
        console.log("add_new_item, collectionId:", collectionId);
        console.log("add_new_item, folderId: ", folderId);

        $panel_clone.find('#collectionId').val(collectionId);
        $panel_clone.find('#folderId').val(folderId);

        $panel_clone.find('#inputurl').next().unbind('click');
        $panel_clone.find('#send_btn').attr('onclick',"fun_send(this)").text('发送')
        if(box){
            box.after($panel_clone);
        }
        else{
            container.append($panel_clone);
        }

        var jsons = {};
        jsons["name"] = name;
        jsons["method"] = method;
        jsons["folder"] = folderId;
        jsons["collectionId"] = collectionId;

        console.log("jsons: ", JSON.stringify(jsons));

        $.post('/save_new_item/', {'jsons': JSON.stringify(jsons)}, function(res){
            // responsedata.val(res);
            // toastr.success("ok");
            // ShowMsg(res,dom);
        });

    }

    let historyTitle = ''
    function savaHistory(ele){
        historyTitle = $(ele).text();
    }
    function saveTitle(ele){
        let id;
        let is_folder;
        let title = $(ele).text();
        console.log(title)
        if($(ele).prev().attr('data-folderId')){
            id = $(ele).prev().attr('data-folderId');
            is_folder = "1";
        }
        else{
            id = $(ele).closest('.panel').find('#itemId').val();
            is_folder = "0";
        }
        console.log('historyTitle',historyTitle)
        if(historyTitle!=title){
            console.log('is_folder: ', is_folder);
            console.log('title: ', title);
            console.log('id: ', id);
            $.post('/save_tree_title/', {'is_folder': is_folder, "item_id": id, "title": title}, function(res){
            // responsedata.val(res);
            // toastr.success("ok");
            // ShowMsg(res,dom);
        });

        }

    }

    function saveTreeState(ele){
        // $btn.attr('data-folderId', tree.folderId);

        // let $panel = $(ele).closest('.panel');
        // let itemId = $panel.find(".itemId").val();
        // let folderId = $panel.find(".folderId").val();
        let id;
        let is_folder;
        let expand;
        if($(ele).attr('data-folderId')){
            id = $(ele).attr('data-folderId');
            is_folder = "1";
        }
        else{
            id = $(ele).closest('.panel').find('#itemId').val();
            is_folder = "0";
        }

        if($(ele).hasClass('glyphicon-plus')){
            expand = "0";
        }
        else{
            expand = "1";
        }

        $.post('/save_tree_state/', {'is_folder': is_folder, "id": id, "expand": expand}, function(res){
            // responsedata.val(res);
            // toastr.success("ok");
            // ShowMsg(res,dom);
        });
    }

    // 发送get或post数据，传入底层统一用get
	function btn_save_change_item(dom) {
		var $this = $(dom);
        console.log($this.text())
		var $p5 = $this.closest('.panel');
        console.log("$p5: ", $p5);
		var method = $p5.find(".rec_option").text();
		var url = $p5.find(".inputurl").val();
		var itemId = $p5.find(".itemId").val();
        var folderId = $p5.find(".folderId").val();
        var collectionId = $p5.find(".collectionId").val();
		var name = $p5.children('.panel-heading').children('[contenteditable]').text();

        name = name.replace(/[\t]/g,"");//去掉tab
        name = name.replace(/[\r]/g,"");//去掉回车换行
        name = name.replace(/[\n]/g,"");//去掉回车换行
        name = name.replace(/(^\s*)|(\s*$)/g, ""); // 左右两端的空格

		var rawModeData = $p5.find(".rawModeData").val();
		var jsonDatas = {};
		jsonDatas["a"] = "a123";
		jsonDatas["b"] = "b123";

		var jsons = {};
		jsons["name"] = name;
		jsons["id"] = itemId;
        jsons["folder"] = folderId;
        jsons["collectionId"] = collectionId;
		jsons["url"] = url;
		jsons["method"] = method;
		jsons["rawModeData"] = rawModeData;
		console.log("jsons: ", JSON.stringify(jsons));

		var responsedata = $p5.find(".myResponse");
		$.post('/save_change_item/', {'jsons': JSON.stringify(jsons)}, function(res){
			// responsedata.val(res);
            // toastr.success("ok");
            ShowMsg(res,dom);
		});
	}


    /*删除当前item*/
    function btn_delete_item(dom){
        
        var $this = $(dom);
        console.log($this.text())
        var $p5 = $this.closest('.panel');
        console.log("$p5: ", $p5);
        var collectionId = $p5.find(".collectionId").val();
        var folderId = $p5.find(".folderId").val();
        var itemId = $p5.find(".itemId").val();
        $.post('/delete_item/', {'itemId': itemId, 'folderId':folderId, 'collectionId':collectionId}, function(res){
            $(dom).closest('.panel').remove();
            // ShowMsg(res,dom);
        });
    }

    /*删除当前folder*/
    function btn_delete_folder(dom){
        var folderId = $(dom).closest('.panel').find("[data-folderId]").attr('data-folderId');
        // $(dom).closest('.panel').remove();
        $.post('/delete_folder/', {'folderId': folderId}, function(res){
            $(dom).closest('.panel').remove();
            // ShowMsg(res,dom);
        });
    }

	/*添加一个panel*/
    /*删除当前panel*/
    //function btn_sub(dom){
    //   $(dom).parent().parent().remove();
    //}

	$(".selectBox").click(function(e){
        var tagName = e.target.tagName;
    	var $this = $(e.target);
        console.log($this)
    	if(tagName == 'A') {
    		// 根据选择重写菜单栏
    		e.preventDefault();
    		var rec_option = $this.text();
    		var $show_dom = $(this).prev().find(".rec_option");
    		$show_dom.text(rec_option);

    		// 根据选择的是否为POST决定是否显示PostData输入项
    		var myparent = $(this).closest('.mypanel');
    		if($this.text() == "GET") {
                myparent.find(".collapse").addClass('hide').removeClass('show');
            }
            else {
                myparent.find(".collapse").addClass('show').removeClass('hide')
            }
    	}
    });

</script>
</body>
</html>
