<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>协议测试</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$.ajaxSetup({
			data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		  });
	</script>
</head>
<style type="text/css">
    .mypanel .panel-heading{}
    .mypanel{position: relative;display: none;}
    .opr-btn{position: absolute;right: 200px;}
    .navbar-btn{margin-top:2px;margin-bottom:8px;}
</style>
<body>

<div id="panel-box">
<div class="panel panel-default mypanel">
    <span class="opr-btn">
        <button type="button" class="btn btn-default navbar-btn" onclick="btn_add()">+</button>
        <button type="button" class="btn btn-default navbar-btn" onclick="btn_sub(this)">-</button>
    </span>
	<div class="panel-heading">
			标题
	</div>
	<div class="panel-body" style="padding-top:1px;">
		<nav class="navbar navbar-default" >
			<div class="container-fluid" style="padding-left:0px;padding-bottom:0px;">
		        <div class="navbar-form navbar-left" style="padding-left: 0px;">

					<ul class="nav navbar-nav">
						<li class="dropdown" style="width:82px;"><a href="#" class="dropdown-toggle" data-toggle="dropdown" ><span class="rec_option">GET</span> <b class="caret"></b></a>
							<ul class="dropdown-menu selectBox">
								<li><a id="action-get" href="#">GET</a></li>
								<li class="divider"></li>
								<li><a id="action-post" href="#">POST</a></li>
							</ul>
						</li>
					</ul>

		            <div class="form-group">
		                <input type="text" id="inputurl" class="inputurl" placeholder="Enter request URL" style="width: 626px;margin-top:11px;">
                        <input type="text" id="inputid" class="inputid"  style="margin: 0px 0px 0px 0px; width: 0px; height: 0px; visibility:hidden; ">
		                <button type="button" id="send_btn" class="btn btn-default" onclick="btn_send(this)" style="margin-top:0px;">Send</button>
		                <button type="button" id="save_btn" class="btn btn-default" onclick="btn_save(this)" style="margin-top:0px;">保存</button>
		             </div>

		        </div>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body" style="padding-top:0px;padding-left:0px; padding-bottom:0px">
					<textarea rows="10" cols="150" id="rawModeData" class="rawModeData" style="margin: 0px 0px 0px; width: 913px; height: 100px;"></textarea>
				</div>
			</div>
		</nav>
		Response
		<nav class="navbar navbar-default">
			<div class="container-fluid" style="padding-left: 0px;">
			    <textarea rows="10" cols="150" id="myResponse" class="myResponse" style="margin: 0px 0px 0px; width: 913px; height: 100px;"></textarea>
			</div>
		</nav>
	</div>
</div>
	</div>

<script type="text/javascript">
    var Dict = {{ Dict|safe }};
    console.log("--- 两种字典的取值方式  ---")
    console.log(Dict['requests']);
    console.log(Dict['folders']);
	(function(){
	    /*初加载*/
        var request_list = Dict['requests'];
        for(var i=0; i<request_list.length; i++){
            console.log("url: ", request_list[i].url);//注意，此处 i 为键值
            console.log("method: ", request_list[i].method);
            console.log("name: ", request_list[i].name);
            console.log("data: ", request_list[i].rawModeData);
            console.log("id: ", request_list[i].id);

            var name = request_list[i].name;
            var url = request_list[i].url;
            var method = request_list[i].method;
            var data = request_list[i].rawModeData;
            var id = request_list[i].id;
            console.log("---------------------------------------------------------");
            btn_add_list(id, name, url, method, data);
        }
	})();

    function ShowTip(tip, type) {
        var $tip = $('#tip');
        if ($tip.length == 0) {
            $tip = $('<strong id="tip" style="position:absolute;top:50px;left: 50%;z-index:9999"></strong>');
            $('body').append($tip);
        }
        $tip.stop(true).prop('class', 'alert alert-' + type).text(tip).css('margin-left', -$tip.outerWidth() / 2).fadeIn(500).delay(2000).fadeOut(500);
    }

    function ShowMsg(msg) {
        ShowTip(msg, 'info');
    }

    let fun_send = btn_send;
    function btn_add_list(id, name, url, method, data){
       var $panel_clone = $('#panel-box>:first').clone(true);
        $panel_clone.show();
        $panel_clone.children('.panel-heading').text(name);
        $panel_clone.find('.rec_option').text(method);
        $panel_clone.find('#inputid').val(id);
        $panel_clone.find('#inputurl').val(url);
        $panel_clone.find('#inputurl').next().unbind('click');
        var $post_data = data;
        $panel_clone.find(".collapse").collapse('show').find('#rawModeData').text($post_data);
        //第二步：在这里替换属性
        $panel_clone.find('#send_btn').attr('onclick',"fun_send(this)").text('查询')
        var $f_box  = $('#panel-box');
        $f_box.append($panel_clone);
    }

	// 发送get或post数据，传入底层统一用get
	function btn_send(dom) {
		var $this = $(dom);
        console.log($this.text())
		var $p5 = $this.parent().parent().parent().parent().parent();
		var method = $p5.find(".rec_option").text();
		var url = $p5.find(".inputurl").val();
		var id = $p5.find(".inputid").val();
		console.log("btn_send: id: ", id);
		var rawModeData = $p5.find(".rawModeData").val();
		var responsedata = $p5.find(".myResponse");
		$.post('/send/', {'id': id, 'url': url, 'method':method, 'rawModeData':rawModeData}, function(res){
			responsedata.val(res);
		});
	}

    // 发送get或post数据，传入底层统一用get
	function btn_save(dom) {
		var $this = $(dom);
        console.log($this.text())
		var $p5 = $this.parent().parent().parent().parent().parent();
		var method = $p5.find(".rec_option").text();
		var url = $p5.find(".inputurl").val();
		var id = $p5.find(".inputid").val();
		var $p6 = $this.parent().parent().parent().parent().parent().parent();
		console.log("p6: ", $p6);
		var name = $p6.find('.panel-heading').text();
		console.log("btn_save: name: ", name);
		console.log("btn_save: id: ", id);
		var rawModeData = $p5.find(".rawModeData").val();
		var responsedata = $p5.find(".myResponse");
		$.post('/save/', {'name': name, 'id': id, 'url': url, 'method':method, 'rawModeData':rawModeData}, function(res){
			// responsedata.val(res);
            // toastr.success("保存成功");
            ShowMsg(res);
		});
	}

	$(".selectBox").click(function(e){
        var tagName = e.target.tagName;
    	var $this = $(e.target);
    	if(tagName == 'A') {
    		// 根据选择重写菜单栏
    		e.preventDefault();
    		var rec_option = $this.text();
    		var $show_dom = $(this).prev().find(".rec_option");
    		$show_dom.text(rec_option);

    		// 根据选择的是否为POST决定是否显示PostData输入项
    		var myparent = $(this).closest('.mypanel');
    		if($this.text() == "GET") {
                myparent.children('.panel-heading').html('此处GET自定义标题');
                myparent.find('#inputurl').val('此处GET自定义url')
    			myparent.find(".collapse").collapse('hide');
    		}
    		else {
                myparent.children('.panel-heading').html('此处POST自定义标题');
                myparent.find('#inputurl').val('此处POST自定义url')
    			myparent.find(".collapse").collapse('show').find('#rawModeData').text('post发送时预先加载的数据');
    		}
    	}
    });

</script>
</body>
</html>
